.gem {
    padding: 1rem 0;
}

.gemName {
    display: inline-block;
}

.link {
    margin-left: .75rem;
}

.close {
    float: none;
    margin-left: .75rem;
}

.container {
    padding-top: 2rem;
}

h1 {
    margin-bottom: 2rem;
}

.results {
    margin-top: 1rem;
}